<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cont">
        <a href="/">Go to home</a>
        <form action="/edit" method="post">
            <input type="text" name="previous" id="file" placeholder="old name" value="<%= filename %>">
            <input type="text" name="new"  placeholder="enter new name">
    
            <input class="submit" type="submit" value="Update name">
        </form>

        
    </div>
</body>
</html>